@import '../../styles/variables.scss';



.cardsPosition {
    background-color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px; // Ajoute un espacement de 20px à gauche et à droite
    margin-top: 40px; // Ajoute un espacement de 40px en haut pour séparer du header
  }
  
  .paddingCard {
    padding: 10px;
    text-decoration: none;
  }
  