@mixin shadow-animation($color: rgba(0, 0, 0, 0.25), $hover-color: $button-color) {
    text-shadow: 2px 2px 4px $color;
    transition: all 0.3s ease-in-out;
  
    &:hover {
      color: $hover-color;
      text-shadow: 4px 4px 8px $color;
      transform: scale(1.1);
    }
  }