// Couleurs
$primary-color: #7C9689;
$secondary-color : #F7F9F2;
$button-lien : #F8F5EB;
$button-color: #F8F5EB;
$couleur3: #964B50;
$black :black;

// Polices
$font-family-primary: 'Poppins', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
