// Couleurs
$primary-color: #91DDCF;
$secondary-color : #F7F9F2;
$button-color: #EBACA2;
$black :black;

// Polices
$font-family-primary: 'Poppins', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;

