@import '../../styles/variables.scss';

.carousel-bg {
  height: 250px; // hauteur du carrousel
  background-color: #f0f0f0;
  display: flex;
  align-items: flex-start; // Aligner les éléments en haut
  justify-content: center;
  text-align: center;
  position: relative;
  padding-top: 20px; // Espace entre le haut et le titre
}

.carousel-caption {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%); // Centrer horizontalement
  border-radius: 10px;
  text-align: center; 
}

.carousel-caption h3,
.carousel-caption p {
  color: $black;
  font-family: $font-family-primary;
  font-weight: 300;
}

.skillGroup {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  gap: 60px; // Espace entre les images
  margin-top: 20px; // Espace entre le titre et les images
}

.skillGroup div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skillGroup img {
  width: 60px; // taille fixe pour les icônes
  height: 60px; // taille fixe pour les icônes
  object-fit: contain;
}

.skillGroup p {
  margin-top: 10px; // Espace entre l'icône et le titre
  font-size: 14px;
  color: $black;
  text-align: center;
}

/* Styles pour les indicateurs */
.carousel-indicators .active {
  background-color: $primary-color;
}

/* Changer la couleur des flèches de navigation en noir */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

/* Désactiver l'effet de survol et de clic */
.carousel-control-prev,
.carousel-control-next {
  background: none;
  border: none;
  opacity: 1;
}

.carousel-control-prev:focus,
.carousel-control-prev:hover,
.carousel-control-next:focus,
.carousel-control-next:hover {
  background: none;
  border: none;
  opacity: 1;
}

/* Media queries pour petits écrans */
@media (max-width: 768px) {
  .carousel-bg {
    height: 200px; 
  }

  .skillGroup {
    flex-direction: row; 
    flex-wrap: nowrap;
    gap: 10px; 
    justify-content: center; 
  }

  .skillGroup div {
    width: auto; 
  }

  .skillGroup img {
    width: 30px; 
    height: 30px; 
  }

  .skillGroup p {
    font-size: 12px; 
    margin-top: 5px; 
  }

  .carousel-caption {
    width: auto;
    left: 50%;
    transform: translateX(-50%); 
  }
}

/* Media queries pour les tablettes */
@media (min-width: 769px) and (max-width: 1024px) {
  .skillGroup {
    gap: 20px; 
  }

  .skillGroup img {
    width: 50px; 
    height: 50px;
  }

  .skillGroup p {
    font-size: 13px; 
    margin-top: 8px; 
  }
}
