@import '../../styles/variables.scss';



.card {
  display: flex;
  flex-direction: column;
  height: 430px; // Hauteur fixe pour toutes les cartes
  width: 100%; // Largeur fixe
  overflow: hidden; // Assure que rien ne dépasse des bordures de la carte
  border: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 -4px 8px rgba(0, 0, 0, 0.12); // Augmente l'ombre autour des cartes

  .card-img-top {
    flex-grow: 1; // L'image prend tout l'espace disponible
    width: 100%;
    height: auto;
    max-height: calc(100% - 60px); // Hauteur de l'image moins la hauteur du footer
    object-position: top;
  }

  .card-footer {
    position: relative; 
    flex-shrink: 0; // Empêche le footer de rétrécir
    height: 60px; // Hauteur du footer
    display: flex;
    align-items: center;
    background: $button-color; // couleur du footer
    padding: 0 10px;

    .card-title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 20px;
      font-family: $font-family-primary;
      font-weight: 400;
      text-align: center; 
    }

    .links {
      display: flex; 
      gap: 10px; // Ajoute de l'espace entre les liens
      margin-left: auto; // Aligne les liens à droite
    }

    a {
      display: flex; 
      justify-content: center;
      align-items: center;
      width: 45px; // Largeur fixe pour les liens
      height: 45px; // Hauteur fixe pour les liens
      color: $black;
      background-color: $secondary-color; 
      border-radius: 50%; 
      transition: color 0.3s ease, background-color 0.3s ease;
    

      &:hover {
        color: $button-color;
        background-color: $primary-color;
      }
    }
  }
}
