@import '../../styles/variables.scss';

.modal-content {
  background-color: #F5F5F5; // Couleur de fond pour la modal
  padding: 20px; // Ajoute du padding pour espacer le contenu des bords
  font-family: $font-family-primary; // Change la police du texte en général
  font-weight: 300;
  border: none;
  font-size: 18px;
}

h4 {
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: 18px;
  color: $primary-color;
}

.modal-title {
  text-align: center;
  width: 100%; 
  font-family: $font-family-primary;
  color: $black;
  font-weight: bold;
  font-size: 25px;
}

.links {
  display: flex; 
  justify-content: center;
  gap: 10px; // Ajoute de l'espace entre les liens
  margin-top: 20px; // Ajoute un espace au-dessus des liens
}

.links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; // Largeur fixe pour rendre le lien rond
  height: 50px; // Hauteur fixe pour rendre le lien rond
  color: $black;
  background-color: $secondary-color; 
  border-radius: 50%; 
  border: none;
  transition: color 0.3s ease, background-color 0.3s ease;

  &:hover {
    color: $button-lien;
    background-color: $primary-color;
  }
}

.technologies-list {
  display: flex;
  flex-wrap: wrap; // Permet de passer à la ligne si nécessaire
  gap: 10px; // Ajoute de l'espace entre les éléments
  padding: 0;
  padding-bottom: 20px;
  padding-top: 15px;
  margin: 0;
  list-style: none;
  justify-content: flex-start; // Aligne les éléments à gauche
}

.technologies-list li {
  background-color: $button-color;
  color: $primary-color;
  font-family: $font-family-primary;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
}

.skills-list {
  list-style-type: disc; // Utilise des puces pour les éléments de la liste
  padding-left: 20px; // Ajoute un padding à gauche pour les puces
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start; // Aligne les éléments de la liste à gauche

}

.skills-list li {
  margin-bottom: 10px; // Ajoute de l'espace entre les éléments de la liste
}

.modal-footer .btn {
  background-color: $primary-color; 
  color: $black; 
  border: none; 
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $primary-color; 
    color: $button-lien; 
  }
}
